*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #c4c7cc;
}
.content{
    width: 100vw;
    padding: 1rem;
    background-attachment: #fff;
    height: 100vh;
    
}

/* Estilos para o modo claro */
body.light-theme {
    background-color: #ffffff;
    color: #333333;
}

/* Estilos para o modo escuro */
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}
.button{
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    float: right;
    border-radius: .5rem;
    background-color: black ;
    color: white;
}